*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  text-align: center;
}

.contenedor{
  display: inline-block;
  width: 100%;
}

.texto{
  padding: 10px;
  background: #24b080;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  max-width: 200px;
}

.boton{
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #24b080;
  padding: 10px 30px;
  cursor: pointer;
  color: #24b080;
}

.boton:hover{
  background: #24b080;
  border: 2px solid #24b080;
  color: #fff;
}

.fondo-rojo{
  background: red;
}


/*==========================|

=        FORMULARIO        =

|==========================*/

  form{
    padding: 20px;
    border: 1px solid #ccc;
  }

  .input-group{
    margin: 10px 0;
  }

  input[type="text"], input[type="email"]{
    width: 100%;
    padding: 10px;
    outline: none;
  }

  input[type="radio"]{
    margin-left: 10px;
  }

  input[type="radio"]:first-child{
    margin-left: 0;
  }

  input[type="submit"]{
    width: 100%;
    background: #24b080;
    padding: 10px;
    border: 1px solid #24b080;
    cursor: pointer;
    color: white;
    margin-top: 10px;
  }

  .disabled{
    color: #ccc;
    cursor: not-allowed;
  }

  .disabled input, .disabled label{
    color: #ccc;
    cursor: not-allowed;
  }

  .flexbox{ 
    display: flex;
  }